;this is a comment

;name of the server application
app_name=HONJO PHSN

;default verbose mode
;see https://github.com/Reymmer/honjo-net/blob/503de7119701873fd8fbe2c7a955272ab83e4281/Framework.Desktop/Logging/Logging.cs#L159
verbose_mode=FULL



;example of static reflection configuration (SREF)
;goes like this <sref:[full namespace type]-[static variable/property to change]>=<value>

;see this example which enables the stacktrace log when an unexpected disconnection happens
;(uncomment by removing the two ";")
;;sref:Honjo.Framework.Network.Client-UNEXPECTED_DISCONNECTION_STACKTRACE=false
;or for instance if you want bigger packets...
;see Packet class
;;sref:Honjo.Framework.Network.Packet-SBYTES_HEADER_SIZE=4
;;sref:Honjo.Framework.Network.Packet-HEADER_MAX_SIZE=4394897280